In [ ]:
#Lakshya Sonawane # PRN:25070123068
#Experiment 5 : Study of Dictionaries

In [3]:
#Creation of Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
#Retriving values from dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

In [7]:
#Dictionary takes latest value given for key.It will not allow duplicates
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

# Length of key-value pairs
len(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

3

In [10]:
# Changing/Adding key:value in dictionary
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"] = "red"
print(car)
x = car.values()
print(x)
print(type(car))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])
<class 'dict'>

In [11]:
student = {
    "roll" : 101,
    "name" : "Lakshya",
    "branch" : "E&TC"
}
student.pop("branch")
print("After removal:" , student)

After removal: {'roll': 101, 'name': 'Lakshya'}

In [15]:
#Problem 1:
products = {
    "Book" : 55,
    "Pen" : 10,
    "Pencil" : 5,
    "Book" : 60
}

print("Orginnal Products :" , products)
products["Book"] = 65
print("After Updating :" , products)

Orginnal Products : {'Book': 60, 'Pen': 10, 'Pencil': 5}
After Updating : {'Book': 65, 'Pen': 10, 'Pencil': 5}

In [18]:
#Problem 2:
students_marks = {
    "A": 75,
    "B": 88,
    "C": 92
}
name = input("Enter the name of the student: ")
print(students_marks.get(name,"Student not found"))

Enter the name of the student: b
Student not found

In [23]:
#Problem 3:
users = {
    "admin" : "admin123",
    "student" : "student123"
}
username = input("Enter the username: ")
password = input("Enter the password: ")
if users.get(username) == password:
    print("Login Successful")
else:
    print("Login Failed")

Enter the username: student
Enter the password: student123
Login Successful

In [26]:
#Problem 4:
marks = {
    "A" : 86,
    "B" : 92,
    "C" : 78
}
topper = max(marks, key=marks.get)
print("Topper is:" , topper)
print("Marks:", marks[topper])

Topper is: B
Marks: 92